SLACK_TOKEN=YOUR_SLACK_USER_TOKEN_HERE
SLACK_COOKIE=YOUR_SLACK_D_COOKIE_VALUE_HERE
SLACK_BASE_URL=https://slack.com
SLACK_WF_TRIGGER_CONFIG=/etc/slack-wf-trigger/rules.json
SLACK_WF_TRIGGER_POLL_INTERVAL=10
SLACK_WF_TRIGGER_CURSORS_PATH=/var/lib/slack-wf-trigger/.slack-wf-trigger.cursors.json
RUST_LOG=info
