SLACK_TOKEN=YOUR_SLACK_USER_TOKEN_HERE
SLACK_COOKIE=YOUR_SLACK_D_COOKIE_VALUE_HERE
SLACK_BASE_URL=https://slack.com
SLACK_WF_HOME=/var/lib/slack-wf-trigger
SLACK_WF_TRIGGER_POLL_INTERVAL=10
RUST_LOG=info